# Course-3: CLEANING DATA IN PYTHON

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [8]:
ride_sharing = pd.read_csv('./DB/ride_sharing_new.csv')

In [9]:
ride_sharing.head()

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [10]:
print(ride_sharing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None

## Data type constraints

### Numeric or categorical?

In [11]:
# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

### Convert user_type from integer to category

The **user_type** column contains information on whether a user is taking a free ride and takes on the following values:

- 1 for free riders.
- 2 for pay per ride.
- 3 for monthly subscribers.

In [12]:
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

In [13]:
# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

In [14]:
# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

### String to integers

Another common data type problem is importing what should be numerical values as strings, as mathematical operations such as summing and multiplication lead to string concatenation, not numerical outputs.

In [ ]:
# ride_sharing['duration'].sum()

In [35]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.replace('minutes', '')
# Convert duration to integer
ride_sharing['duration'] = ride_sharing['duration_trim'].astype('int')

In [17]:
ride_sharing['duration']

0        12
1        24
2         8
3         4
4        11
         ..
25755    11
25756    10
25757    14
25758    14
25759    29
Name: duration_time, Length: 25760, dtype: int32

In [18]:
# Write an assert statement making sure of conversion
assert ride_sharing['duration'].dtype == 'int'

##### Calculate and print the mean of 'duration_time'

In [19]:
mean_duration = ride_sharing['duration_time'].mean()
print("Mean Duration Time:", mean_duration)

Mean Duration Time: 11.389052795031056

##### add a new column named 'tire_sizes'

In [20]:
tire_sizes = np.random.choice(['26″', '27″', '29″'], size=25760)

# Insert the 'tire_sizes' column into the DataFrame
ride_sharing['tire_sizes'] = tire_sizes

## Data range constraints

Bicycle tire sizes could be either 26″, 27″ or 29″ and are here correctly stored as a categorical value. In an effort to cut maintenance costs, the ride sharing provider decided to set the `maximum tire size to be 27″`

In [21]:
ride_sharing['tire_sizes'].value_counts()

29″    8695
26″    8580
27″    8485
Name: tire_sizes, dtype: int64

### Convert tire_sizes to integer

In [22]:
# Define a mapping for tire sizes
tire_size_mapping = {'26″': 26, '27″': 27, '29″': 29}
# Use the map function to replace string values with integers
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].map(tire_size_mapping)

##### Set all values above 27 to 27

In [23]:

ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

##### convert to categorical

In [24]:
ride_sharing['tire_sizes'] =  ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

count     25760
unique        2
top          27
freq      17180
Name: tire_sizes, dtype: int64

---

In [25]:

# Generate a range of dates
start_date = datetime.now() - timedelta(days=580)  # 180 days ago
end_date = datetime.now() + timedelta(days=180)    # 180 days in the future

date_range = pd.date_range(start_date, end_date, periods=25760)

# Add 'ride_date' column to the DataFrame
ride_sharing['ride_date'] = date_range.strftime('%Y-%m-%d %H:%M:%S')

### Back to the future

A bug was discovered which was relaying rides taken today as taken next year. To fix this, you will find all instances of the **ride_date** column that occur anytime in the future, and set the maximum possible value of this column to today's date. Before doing so, you would need to convert **ride_date** to a **datetime** object.

In [26]:
ride_sharing['ride_date']

0        2022-07-11 08:08:39
1        2022-07-11 08:51:08
2        2022-07-11 09:33:37
3        2022-07-11 10:16:06
4        2022-07-11 10:58:35
                ...
25755    2024-08-09 05:18:42
25756    2024-08-09 06:01:11
25757    2024-08-09 06:43:40
25758    2024-08-09 07:26:10
25759    2024-08-09 08:08:39
Name: ride_date, Length: 25760, dtype: object

In [27]:
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date
ride_sharing['ride_dt']

0        2022-07-11
1        2022-07-11
2        2022-07-11
3        2022-07-11
4        2022-07-11
            ...
25755    2024-08-09
25756    2024-08-09
25757    2024-08-09
25758    2024-08-09
25759    2024-08-09
Name: ride_dt, Length: 25760, dtype: object

#### Count the number of rows where the 'ride_dt' is greater than today

In [29]:
import datetime
today = datetime.date.today()
count_future_rides = (ride_sharing['ride_dt'] > today).sum()

# Display the count of rides in the future
print("Number of rides in the future:", count_future_rides)

Number of rides in the future: 6079

##### Set all in the future to today's date

In [30]:
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

In [31]:
# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2024-02-11

In [32]:
# Generate duplicated ride_id values
ride_id_values = np.random.randint(1, 210000, size=25760)
ride_sharing['ride_id'] = ride_id_values.astype(int)

## Uniqueness constraints

### How to find duplicate values?
The update however coincided with radically shorter average ride duration times and irregular user birth dates set in the future. Most importantly, the number of rides taken has increased by 20% overnight, leading you to think there might be both complete and incomplete duplicates in the ride_sharing DataFrame.

In [33]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset='ride_id', keep =False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values(by = 'ride_id') 
print(f"Number of duplicate bikes: {len(duplicated_rides)}")

Number of duplicate bikes: 3082

In [34]:
# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

       ride_id    duration  user_birth_year
25523       53  27 minutes             1988
12884       53  14 minutes             1977
14080      244   4 minutes             1975
4948       244  15 minutes             1989
16217      277   6 minutes             1991
...        ...         ...              ...
8278    208954   4 minutes             1977
10128   209192  11 minutes             1990
16500   209192  14 minutes             1983
19299   209253  15 minutes             1990
15784   209253   4 minutes             1990

[3082 rows x 3 columns]

In [36]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()
ride_dup['duration']

0        12
1        24
2         8
3         4
4        11
         ..
25755    11
25756    10
25757    14
25758    14
25759    29
Name: duration, Length: 25760, dtype: int32

In [38]:
# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}
# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()
ride_unique

       ride_id  user_birth_year  duration
0            2             1983       4.0
1            6             1994       8.0
2           15             1994      15.0
3           33             1981       5.0
4           50             1980       9.0
...        ...              ...       ...
24185   209963             1977      12.0
24186   209965             1980      29.0
24187   209971             1974       3.0
24188   209976             1969      12.0
24189   209988             1978       6.0

[24190 rows x 3 columns]

In [39]:
# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

In [ ]:
# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0